tmp/
trash/
trash2/
.env.secrets
.dev.env.secrets
nginx/Dockerfile
nginx-bitnami/Dockerfile
uvoo/zabbix-server-pgsql/Dockerfile
uvoo/pdns-auth/pdns.conf
uvoo/pdns-auth/terraform-example/backend.tf
uvoo/pdns-auth/terraform-example/.env.secrets
**/.terraform/*
*.tfstate.*
*.tfstate
.terraform.lock.hcl
uvoo/email-relay/data
uvoo/email-relay/test-email.sh

